<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<!--Main content-->
<main>
  <!-- Welcome header and description -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to the <%= title %></h1>
      <h3 class="text-center">Explore my website, where I invite you to discover who I am, what drives me, and the stories I'm passionate about sharing. Join me on this journey of self-expression and exploration. Welcome to my creative universe.</h3>
    </div>

  </div>
  <!--Putting the home page in the div named header-->
  <div id="header">
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>


</div>
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
  
 
